<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BE.Properties.Settings>
            <setting name="MinimumTaineeAge" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="MinimumTesterAge" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaximumTestsInWeek" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaximumTesterAge" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MinimumDaysBetweenTests" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MinimumDrivingLessons" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PassingGrade" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="TestTimeSpan" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="WorkStartHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="WorkEndHour" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="FridayWorkEndHour" serializeAs="String">
                <value>14</value>
            </setting>
        </BE.Properties.Settings>
    </userSettings>
</configuration>